/*THEME TOGGLE STYLING*/

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(128, 128, 128, 0.322);
  width: 2.9rem;
  height: 100%;

  /*CHANGE BASED ON CURRENT ACTIVE SECTION*/

  .toggle__icon {
    &-hero {
      fill: var(--blue);
    }
    &-about {
      fill: var(--purple);
    }
    &-projects {
      fill: var(--red);
    }
    &-skills {
      fill: var(--green);
    }
    &-contact {
      fill: var(--yellow);
    }
  }
}
