@use "../../styles/index.scss" as *;

.btn-styling {
  @include button-styling(var(--white), var(--white));
  margin-top: 0.8rem;

  &:hover {
    box-shadow: 0 0 3px var(--white);
  }
}

.btn-less {
  @include button-styling(var(--white), var(--white));
  background-color: var(--glass-background);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: 700;

  &:hover {
    background-color: var(--white);
    color: var(--dark-grey);

    svg {
      fill: var(--dark-grey);
    }
  }

}
