@use "../../styles/index.scss" as *;

/*FOOTER BUTTON STYLING*/

.footer__btn {
  @include button-styling(var(--white), var(--white));
  padding: 0.3rem 1rem;
  margin-right: 1.5rem;
  cursor: none;

  svg {
    transition: 0.2s ease;
    margin-left: 0.5rem;
    animation: shake-and-wait 12s infinite;
  }

  &:hover {
    svg {
      margin-left: 1.2rem;
    }
  }
}

.hero_btn {
  @include contact-btn-colors(var(--blue));
}

.about_btn {
  @include contact-btn-colors(var(--purple));
}

.project_btn {
  @include contact-btn-colors(var(--red));
}

.skills_btn {
  @include contact-btn-colors(var(--green));
}

.contact_btn {
  @include contact-btn-colors(var(--yellow));
}
