@use "../../../styles/index.scss" as *;

.details__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popup-background);
  border-radius: 5px;
  z-index: 100;
  padding: 1.2rem;

  @include for-desktop-up {
    padding: 0.5rem;
    overflow: hidden;
  }
}

.project__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  height: 100%;
  border: 1px solid var(--borders-standard);
  background-color: var(--glass-background);

  @include for-tablet-up {
    overflow: scroll;
  }

  .text-container {
    display: flex;
    height: 80%;

    @include for-tablet-up {
      flex-direction: column;
      height: 100%;
    }

    @include for-small-up {
      padding: 2rem 0rem;
    }
  }

  .window-container {
    display: flex;
    height: 5%;
    border-bottom: 1px solid var(--borders-standard);

    button {
      margin: auto 0 auto 1rem;
    }

    p {
      margin: 0 auto;
      letter-spacing: 2px;
      text-align: center;
      animation: fadeIns 1.2s ease-out;
    }

    @keyframes fadeIns {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  h2 {
    @include h2-styling;
    font-size: 2.5rem;
    font-weight: 700;
    width: fit-content;
    padding: 1rem 2rem;
    letter-spacing: 4px;

    @include for-small-up {
      font-size: 1.5rem;
      padding: 0.5rem 0.5rem;
    }
  }

  p {
    padding: 1rem 2rem;

    font-size: 0.83rem;
    font-weight: 200;
    line-height: 1.6;
    @include for-desktop-up {
      padding: 1rem 0rem;
    }
    @include for-tablet-up {
      font-size: 0.8rem;
    }

    @include for-small-up {
      padding: 0.5rem 0.5rem;
    }
  }
}

.detail-image-container {
  width: 60%;
  height: 100%;
  display: flex;
  position: relative;

  .detail-img-styling {
    position: absolute;
    top: 30%;
    right: 20%;
    height: 45%;
    width: 52%;
    border-radius: 5px;
  }
}

.details-header {
  height: 40%;
  gap: 2rem;
  display: flex;
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
  width: 40%;
  padding: 1rem;
  padding-right: 2rem;
  height: 100%;
  justify-content: center;

  @include for-desktop-up {
    gap: 0.5rem;
    padding: 0rem 1rem;
    width: 100%;
  }

  @include for-tablet-up {
    padding: 0rem;
  }

  @include for-small-up {
    padding: 0.5rem 0.5rem;
  }

  h3 {
    @include h3-styling;
  }

  .project__description-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;

    @include for-desktop-up {
      padding: 1rem 0rem;
    }

    @include for-small-up {
      padding: 0.5rem 0.5rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      list-style: none;
      width: 100%;
    }
  }
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  @include for-desktop-up {
    width: 50%;
  }

  @include for-tablet-up {
    width: 100%;
  }
}
