.hero {
  height: 100%;
  color: white;
  position: relative;
}

// img {
//   transform: rotate(50deg);
//   transform: skewY(50deg);
//   position: absolute;
//   margin: 25rem 50rem;
//   height: 5rem;
// }
