.hero {
  height: 100%;
  color: var(--white);
  position: relative;
}

.test {
  user-select: none;
  outline: none;
  position: absolute;
  font-size: 35vw;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(0, 0, 0, 0.103);
  font-weight: 800;
  width: 100%;
  line-height: 70vh;
}

.fade-line {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  width: 1px;
  height: 120px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0) 0%,
    var(--blue) 30%,
    var(--blue) 70%,
    rgba(0, 0, 255, 0) 100%
  );
  animation: floatUpDown 3s ease-in-out infinite;
  animation-delay: 2s;
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
    height: 120px;
  }
  50% {
    height: 110px;
    transform: translateY(-10px); /* how high it floats */
  }
  100% {
    height: 120px;

    transform: translateY(0);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 48%;
  text-align: center;
  word-spacing: 0.5rem;
  margin: auto;
}

h1 {
  user-select: none;
  outline: none;
  font-size: 5rem;
  color: #fff;
  font-family: "headings";
  width: 25%;
  font-weight: 200;
  display: inline-block;
}

h6 {
  user-select: none;
  outline: none;
  text-transform: uppercase;
  color: var(--grey);
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.7rem;
}
