/* Mixin Styling */

@mixin h1-styling($color: var(--white)) {
  font-size: var(--h1-font-size);
  color: $color;

  font-family: "headings";
}

@mixin h2-styling($color: var(--white)) {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-regular);
  color: $color;
  font-family: "headings";
}

@mixin h3-styling($color: var(--white)) {
  font-size: var(--h3-font-size);
  color: $color;
  text-transform: uppercase;
  font-family: "headings";
}
