@font-face {
  font-family: "Headings";
  src: url("../fonts/PPObject.ttf") format("opentype");
  font-weigh: 600;
  font-style: normal;
}

@font-face {
  font-family: "body";
  src: url("../fonts/PPNeueMachina-Regular.otf") format("opentype");
  font-weigh: 400;
  font-style: normal;
}
