/* Mixin Styling */

@mixin h1-styling($color: var(--white)) {
  font-size: var(--h1-font-size);
  color: $color;

  font-family: "headings";
}

@mixin h2-styling($color: var(--white)) {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-regular);
  color: $color;
  font-family: "headings";
}

@mixin h3-styling($color: var(--white)) {
  font-size: var(--h3-font-size);
  color: $color;
  text-transform: uppercase;
  font-family: "headings";
}

@mixin contact-btn-colors($color: var(--white)) {
  &:hover {
    border: 1px solid $color;
    box-shadow: 0 0 3px $color;

    svg {
      transform: translateX(10px);
    }
  }
  svg {
    fill: $color;
  }
}

@mixin button-styling($color: var(--white), $shadow: var(--white)) {
  color: $color;
  border: 1px solid var(--borders-standard);
  padding: 0.5rem 8rem;
  font-family: "body";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  letter-spacing: 0.5px;
  background-color: var(--projects-details);
  transition: 0.2s ease;
  text-decoration: none;

  svg {
    fill: $shadow;
    transition: 0.2s ease;
    margin-left: 0.5rem;
    animation: shake-and-wait 10s infinite; 
  }

  &:hover {
    transform: scale(1.05) !important;
    border: 1px solid transparent;
    box-shadow: 0 0 3px rgba($shadow, 0.6);

    svg {
      margin-left: 20px;
    }
  }
}
