/*GLOBAl RESETS & STYLING*/

@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease-out !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "body", sans-serif;
  background: var(--background);
}

body,
button,
a,
input,
textarea,
select {
  cursor: none;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h6,
p,
div {
  outline: none; /* remove focus outline */
  user-select: none; /* prevent accidental selection/caret */
}
