/*GLOBAl RESETS & STYLING*/

@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease-out !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "body", sans-serif;
  background: var(--background);
}

body,
button,
a,
input,
textarea,
select {
  cursor: none;
}

#root {
  height: 100%;
  width: 100%;
}

// h1,
// h2,
// h3,
// h6,
// p,
// div {
//   outline: none;
//   user-select: none;
// }

.toast {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--glass-background);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  z-index: 9999;
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

.toast-home {
  border: 1px solid var(--blue);
}

.toast-about {
  border: 1px solid var(--purple);
}
.toast-project {
  border: 1px solid var(--red);
}
.toast-skills {
  border: 1px solid var(--green);
}
.toast-contact {
  border: 1px solid var(--yellow);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(1rem);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-1rem);
  }
}
