@use "../../styles/index.scss" as *;

.about {
  min-height: 100%;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.about__window {
  background: var(--glass-background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  position: absolute;
  border: 1px solid var(--borders-standard);
}

.about-me {
  top: 10%;
  left: 30%;
  width: 40rem;
  z-index: 10;

  @include for-desktop-up {
    top: 10%;
    left: 15%;
    width: 35rem;
  }

  @include for-tablet-up {
    top: 5%;
    left: 10%;
    width: 35rem;
    z-index: 10;
  }
  @include for-mobile-up {
  }
}

.me-online {
  top: 40%;
  left: 58%;
  display: flex;
  flex-direction: column;
  width: 20rem;

  @include for-desktop-up {
    top: 45%;
    left: 65%;
  }

  @include for-tablet-up {
    top: 36%;
    left: 60%;
  }
  @include for-mobile-up {
  }
}

.working-on {
  top: 58%;
  left: 30%;
  width: 30rem;
  @include for-desktop-up {
    top: 62%;
    left: 15%;
  }

  @include for-tablet-up {
    top: 56%;
    left: 20%;
  }
  @include for-mobile-up {
  }
}

.where-i-work {
  top: 42%;
  left: 18%;
  width: 25rem;
  @include for-desktop-up {
    top: 45%;
    left: 5%;
  }

  @include for-tablet-up {
    top: 36%;
    left: 2%;
  }
  @include for-mobile-up {
  }
}
