@use "../../styles/index.scss" as *;

.about__window-header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders-standard);
  align-items: center;
  @include for-mobile-up {
    border-bottom: none;
    padding: 0.5rem 1rem;
  }
  h6 {
    font-size: 0.75rem;
    text-transform: lowercase;
    color: var(--white);
    font-weight: var(--font-weight-medium);
    margin: auto 0;

    @include for-mobile-up {
      font-size: 0.8rem;
    }
  }
}
