@use "../../styles/index.scss" as *;

/* FORM STYLING */
.panel-title {
  position: absolute;
  top: -30px;
  left: 30%;
  transform: translate(-50%, -50%);
  color: var(--white);
  @include h2-styling;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-radius: 5px;
  z-index: 10;
  @include for-desktop-up {
    left: 25%;
  }

  @include for-mobile-up {
    font-size: 1.6rem;
    top: -25px;
    left: 25%;
  }
}

.form-panel {
  position: relative;
  display: flex;
  align-items: center;
  width: 35%;
  padding: 30px;
  background: var(--glass-background);
  border: 1px solid var(--borders-standard);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  height: 85%;
  margin: auto 0;

  @include for-desktop-up {
    width: 60%;
  }
  @include for-tablet-up {
    padding: 20px;
    width: 60%;
  }
  @include for-mobile-up {
    padding: 1rem;
    width: 100%;
  }

  &::before {
    top: -40px;
    left: -30px;
    border-top: 3px solid var(--yellow);
    border-left: 3px solid var(--yellow);

    @include for-desktop-up {
      top: -25px;
      left: -15px;
    }
  }

  &::after {
    bottom: -40px;
    right: -30px;
    border-bottom: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);

    @include for-desktop-up {
      bottom: -25px;
      right: -15px;
    }
  }

  .top-right {
    top: -40px;
    right: -30px;
    border-top: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
    border-left: none;
    border-bottom: none;

    @include for-desktop-up {
      top: -25px;
      right: -15px;
    }
  }

  .bottom-left {
    bottom: -40px;
    left: -30px;
    border-bottom: 3px solid var(--yellow);
    border-left: 3px solid var(--yellow);
    border-top: none;
    border-right: none;

    @include for-desktop-up {
      bottom: -25px;
      left: -15px;
    }
  }

  &::before,
  &::after,
  .top-right,
  .bottom-left {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    transition: 0.2s ease-out;
    animation: float-corners 6s ease-in-out infinite;

    @include for-desktop-up {
      width: 10%;
      height: 10%;
    }

    @include for-mobile-up {
      width: 7%;
      height: 7%;
    }
  }

  &:hover {
    &::before {
      top: -5px;
      left: -5px;
    }
    &::after {
      bottom: -5px;
      right: -5px;
    }
    .top-right {
      top: -5px;
      right: -5px;
    }
    .bottom-left {
      bottom: -5px;
      left: -5px;
    }

    &::before,
    &::after,
    .top-right,
    .bottom-left {
      animation: none;
    }
  }

  @keyframes float-corners {
    0%,
    100% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(2px, -2px);
    }
    50% {
      transform: translate(-2px, 2px);
    }
    75% {
      transform: translate(1px, -1px);
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}

.form-input,
.textarea {
  font-family: "body";
  width: 100%;
  padding: 15px;
  font-size: var(--p-font-size);
  border-radius: 4px;
  border: 1px solid var(--borders-standard);
  background-color: var(--glass-background2);
  color: var(--white);
  transition: border-color var(--transition-speed) var(--transition-ease),
    box-shadow var(--transition-speed) var(--transition-ease);

  @include for-mobile-up {
    padding: 15px;

    font-size: 0.65rem;
  }
}

.form-input::placeholder,
.textarea::placeholder {
  color: var(--grey);
}

.form-input:focus,
.textarea:focus {
  outline: none;
  border-color: var(--borders-hover);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 2px var(--borders-hover);
}

.textarea {
  min-height: 200px;
  resize: none;
}

/* --- BUTTON --- */
.submit-button {
  @include button-styling;
  padding: 0.75rem 2rem;
  transition: transform 0.3s ease;
  margin: auto 0;

  @include for-mobile-up {
    padding: 10px;
    font-size: 0.65rem;
  }

  &:hover {
    border: 1px solid var(--yellow);
    color: var(--yellow);
    box-shadow: 0 0 20px rgba(255, 179, 71, 0.3);
    transform: scale(1.05);

    svg {
      fill: var(--yellow);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: var(--white) !important;
  transition: background-color 9999s ease-in-out 0s; /* hacky delay trick */
  color: var(--white);
}
