@use "../../styles/index.scss" as *;

/*HEADER STYLING*/

.header {
  display: flex;
  grid-column: 1 / 3;
  text-align: center;
  height: 2.5rem;
  border: 2px solid var(--borders-standard);
  color: var(--white);
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  align-items: center;

  @include for-desktop-up {
    height: 2.2rem;
  }

  @include for-tablet-up {
    border-width: 1px;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  @include for-mobile-up {
    border-width: 1px;
    background-color: var(--glass-background);
    height: 2rem;
  }
  .mobile-header {
    display: none;
    @include for-mobile-up {
      display: block;
    }
  }
  p {
    height: fit-content;
    margin: auto;

    @include for-tablet-up {
      font-size: 0.9rem;
    }

    @include for-mobile-up {
      display: none;
    }

    span {
      margin: 0.1rem;
    }

    .header__hero {
      color: var(--blue);
    }

    .header__about {
      color: var(--purple);
    }

    .header__projects {
      color: var(--red);
    }

    .header__skills {
      color: var(--green);
    }

    .header__contact {
      color: var(--yellow);
    }
  }
}
