@use "../../styles/index.scss" as *;

.footer__social {
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;

    li {
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }

    a {
      padding: 0.5rem;
      transition: 0.3s ease;
      color: var(--icon-standard);

      @include for-tablet-up {
        svg {
          height: 1rem;
        }
      }

      &:hover {
        color: var(--icon-hover);
      }
    }

    @include for-small-up {
      gap: 0.2rem;
    }
  }
}
