@use "../../styles/index.scss" as *;

.assignments-section {
  height: 100%;
  flex-direction: column;
  display: flex;
  color: white;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-out;
  @include for-tablet-up {
    min-height: 100%;
    height: fit-content;
  }
}

.assignments-section-ViewAll {
  background-color: var(--glass-background2);
}
