@use "../../styles/index.scss" as *;

.nav {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 3rem;
  border: 2px solid var(--borders-standard);
  border-bottom: 0;
  border-top: 0;
  backdrop-filter: blur(10px);
  z-index: 10;

  @include for-desktop-up {
    width: 2.5rem;
  }

  @include for-tablet-up {
    width: 0px;
    border: none;
    border-left: 1px solid var(--borders-standard);
    backdrop-filter: none;
  }
  @include for-mobile-up {
  }

  ul {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
    list-style: none;

    @include for-tablet-up {
      display: none;
    }
    @include for-mobile-up {
    }

    li {
      cursor: none;
      transition: 0.2s ease;
      fill: var(--icon-standard);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        cursor: none;

        width: 100%;
        height: fit-content;
      }

      .icon-styling {
        width: 100%;
      }

      &:hover {
        transform: scale(1.2);
        fill: var(--icon-hover);
      }

      &.active {
        transform: scale(1.2);
        fill: var(--icon-hover);
      }
    }
  }
}

.nav-container {
  opacity: 1;
  transform: translateX(0px);
  transition: 0.5s ease;
}

.nav-container.disabled {
  transform: translateX(-100%);

  opacity: 0;
  transition: 0.3s ease-out;
}
